@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  margin: 0;
   padding: 0;
}

.App {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.header {
  max-height: 40vh;
  padding: 0;
  margin:0;
}

img {
  padding: 0;
  margin:0;
}

.LoginDisplay {
  /* text-align: center; */
  padding-left: 85px;
  background-color: #729fc8;
  padding-top: 15px;
}
.FlightDisplay {
  padding-left: 85px;
  padding-top: 25px;
}
.search, .searchForm {
  background-color: #876271;
  color: white;
  margin-top: -10px;
  padding: 20px 0px 15px 45px;
}

.originLabel {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 30px;
}

.destinationLabel {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 53px;

}

.originDropdown {
  padding-top: 20px;
}

.destinationDropdown  {
  padding-top: 20px;
  padding-bottom: 20px;
}

select {
  width: 400px;
  height: 35px;
  font-size: 0.9em;
}

.tableHeading {
  display:inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

td {
  width: 150px;
}

/* select seat styles
============================================================================ */

.seatMap {
  text-align: center;
}

.seatMap p {
  margin-top: 1em;
}

.seat {
  width:22%;
  height:80px;
  /* border: 1px solid blue; */
  background: url(./chair.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1em;
}

.seatBlue {
  background: url(./chair2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.seatMap {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap
}
